<!doctype html>
<html lang="en">
<head>
    <!--<meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/images//favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>Rubik - Bootstrap Presentation Page by Creative Tim </title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/rubick.css" rel="stylesheet"/>
     <link href="assets/css/animate.css" rel="stylesheet"/>    
    
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href="assets/css/fonts/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="assets/css/fonts/Rubik-Fonts.css" rel="stylesheet" />
</head> 

<body id="skrollr-body">
  <div class="loading ">
  <div class="loading-container">
    <p>Just a sec...</p>
    <img class="loader" src="assets/images//rubik.svg"/>
  </div>
</div>
<!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
<nav class="navbar navbar-default navbar-transparent navbar-fixed-top" role="navigation">
    
    <div class="container">
    <div class="navbar-header">
        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar bar1"></span>
            <span class="icon-bar bar2"></span>
            <span class="icon-bar bar3"></span>
        </button>
        <a href="http://www.creative-tim.com" class="navbar-brand">
           Acceuil
        </a>
    </div>

    <div class="navbar-scroll-to collapse navbar-collapse" >
      <ul class="nav navbar-nav navbar-right navbar-uppercase">
            <li>
                <a href="" data-scroll="true" data-id="#whoWeAre" class="active"> 
                    About
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#friends"> 
                    Reviews
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#team"> 
                    Team
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#numbers"> 
                    Numbers
                </a>
            </li>
            <li>
                <a href="" data-scroll="true" data-id="#contact"> 
                    Contact
                </a>
            </li>
            <li class="social-links">
                <a href="#"> 
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#"> 
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#"> 
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
